body{
    font-family: 'Montserrat', sans-serif;

    background: #F5F7FA;
}

.me-container{

    display: flex;

    flex-direction: row-reverse;

    width: 1200px;

    background-color: #FFFFFF;

    margin: 40px auto;

    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* MAIN CONTENT */

.me-content-section{

    padding: 100px 90px;
}

/* ABOUT */

.about-me-section{

    margin-bottom: 40px;
}

.about-me-profession{

    font-size: 16px;

    font-weight: bold;

    color: #000000;

    margin-bottom: 20px;
}

.about-me-name{

    font-size: 45px;

    font-weight: bold;

    color: #000000;

    margin-bottom: 25px;
}

.about-me-description{

    width: 400px;

    font-size: 14px;

    line-height: 24px;

    color: #595959;
}

/* TITLES */

.main-content-title{

    font-size: 22px;

    font-weight: bold;

    color: #000000;

    margin-bottom: 10px;
}

/* PROJECTS */

.me-projects-list{

    padding-left: 17px;
}

.me-projects-item{

    color: #000000;

    font-weight: bold;
}

.me-projects-text{

    font-size: 14px;

    line-height: 24px;

    color: #595959;
}

.my-projects-link{

    color: #595959;
}

.my-projects-link:hover{

    color: #FB6D3A;
}

.my-projects-bracket{

    font-weight: bold;

    color: #000000;
}

/* EXPERIENCE */

.me-work-experience-position{

    font-size: 16px;

    font-weight: bold;

    margin-bottom: 10px;
}

.me-work-experience-company{

    color: #FB6D3A;
}

.me-work-experience-period{

    font-size: 12px;

    color: #A8A8A8;

    margin-bottom: 10px;
}

.me-work-experience-divider{

    color: #000000;
}

.me-work-experience-duties{

    padding-left: 18px;
}

.me-work-experience-duty{

    font-size: 14px;

    line-height: 24px;

    color: #595959;
}

/* SIDEBAR */

.saidebar-sections{

    background-color: #1E2939;

    width: 370px;

    padding-top: 40px;
}

.saidebar-sections img{

    width: 370px;
}

/* CONTACTS */

.contacts-section,
.Tech-skills-section,
.Soft-skills-section{

    margin: 50px 0 0 40px;
}

.saidebar-title{

    font-size: 22px;

    font-weight: bold;

    color: #FFFFFF;

    margin-bottom: 10px;
}

.contact-section-type{

    font-weight: bold;

    color: #FFFFFF;

    margin-right: 7px;
}

.contact-section-link{

    color: #8E949C;

    font-size: 14px;

    line-height: 24px;

    text-decoration: none;
}

.contact-section-link:hover{

    color: #FFFFFF;
}

/* SKILLS */

.Tech-skill-list,
.Soft-skill-list{

    padding-left: 17px;
}

.Tech-skill-item{

    color: #FB6D3A;
}

.Tech-skill-item-text{

    color: #FFFFFF;

    font-size: 14px;

    line-height: 24px;
}